html {
    background: linear-gradient(to right,rgba(14, 71, 73, 0.5), rgba(149, 198, 35, 0.5)), url('../bg.png');
    background-size: cover;
    color: #0E4749;
}

body {
    font-family: "Courier New", Courier, monospace;
}

/* Special ids for titles and description */
#name {
    font-size: 38px;
    font-weight: 1000;
    margin-top:20px;
    margin-bottom:0px;
}

#username {
    color: #95c623;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0px;
}

#description {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom:0px;
    text-align: center;
}

/* Other styles */

div.home-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.top-card {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: white !important;
    border-radius: 25px;
    padding: 20px;
    max-width: 355px;
}

div.social-icon-container {
    display: flex;
    align-items: center;
    padding-top:20px
}

div.button {
    background-color: #0E4749;
    padding: 10px;
    margin-left:2px;
    margin-right: 2px;
    border-radius: 10px;
}

p.button-text {
    margin: 0px;
    font-weight: 800;
    color: white;
}

a.button-link {
    text-decoration: none;
    color:inherit;
}

a.button-link:hover {
    color:grey;
}

img.user-icon {
    max-width: 250px;
    max-height: 250px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
}

.social-icon {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 2.5em;
    color: #0E4749
}

a.social-link {
    color:inherit;
}

a.social-link:hover {
    color: grey;
}

h1.title {
    font-weight: 900;
    margin: 0px;
    font-size: 38px;
}

h2.subtitle {
    margin-bottom: 0px;
    font-size: 28px;
}

p.paragraph {
    font-size: 12pt;
    margin-bottom: 0px;
    text-align: center;
}

